@media screen and (max-width:1400px){
    body{
        font-size: 2rem;
    }
    .logos img{
        width:40%;
    }
    h2 {
        font-family: 'Brush Script MT', cursive;
        text-align: center;
        font-size: -webkit-xxx-large;
    }
    table, th, td {
        font-size: 2rem;
        border: 1px solid black;
    }
}

@media screen and (max-width:1200px){
    body{
        font-size: 1.5rem;
    }
    .logos img{
        width:30%;
    }
    table, th, td {
        font-size: 1.5rem;
        border: 1px solid black;
    }
}

@media screen and (max-width:600px){
    body{
        font-size: 1rem;
    }
    .logos img{
        width:20%;
    }
    table, th, td {
        font-size: 1rem;
        border: 1px solid black;
    }
}